
<section class=' sc-quality cnt-visibility'>
    
    
        
    {{ $header_repeater:=.header_repeater }}
    {{- partial "header-tag.html" (dict "context" . "header_list" $header_repeater "custom_class" "txt-quality-header")  -}}
    <div class="txt-under-header">
        {{.tekst_pod_naglowkiem | safeHTML}}
    </div>
    <ul class='cols-wrapper'>
        {{range $index, $element:= .trzy_kolumny}}
            <li>
                <span class='icon-wrapper'>
                    {{- partial "img.html" (dict "image" .ikona "imgsizes" ""  "tag_class" "quality-icons")  -}}
                </span>
                <div class="icon-title">
                    {{.tytul}}
                </div>
                <div class="icon-desc">
                    {{.opis}}
                </div>
            </li>
        {{end}}
    </ul>
</section>
 