html{
    font-size:100%;
    overflow-x: hidden;
    width: 100%;
    @media (min-width: 2560px){
        font-size:115%;
    }
}
body{
    margin: 0;
    
    color: #171715;;
    width: 100%;
    font-family: "Darker Grotesque", sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    --main-margin-left:  1rem;
    --main-margin-right: 1rem;
    overflow-x: hidden;
    @media (min-width: 1200px) {
        --main-margin-left: 2rem;
        --main-margin-right: 2rem;
    }
    @media (min-width: 1600px) {
        --main-margin-left: 5vw;
        --main-margin-right: 5vw;
    }
    @media (min-width: 1920px) {
        --main-margin-left:  calc((354 / 1920) * 100vw);
        --main-margin-right: calc((344 / 1920) * 100vw);
    }

}
*{
    box-sizing: border-box;
}
// h1,h2,h3,h4,.h1,.h2,.h3,.h4,.header-template{
//     font-family: 'Space Grotesk', sans-serif;
// }
// description: 'XXL: 54px;<br>XL: 45px;<br>L: 22px;<br>MD: 16px

.txt-XXL{
    font-size: 3.8125rem;
    
}
.txt-XL{
    font-size: 2.8125rem;
}
.txt-L{
    font-size: 2.1875rem;
}
.txt-MD{
    font-size: 1.3125rem;
}
.txt-R{
    font-size: 1.125rem;
}
.txt-S{
    font-size: 0.9375rem;
}
.f-w500{
    font-weight: 500;
}
.f-w400{
    font-weight: 400;
}
.f-w800{
    font-weight: 800;
    @media (max-width: 450px){
        font-size: 2.5rem;
    }
}
.f-w900{
    font-weight: 900;
}
.txt-break{
    display: block;
    @media (max-width: 450px){
        font-size: 2.5rem;
    }
}
.txt-white{
    color: #fff;
}
.bez-gradient{
    background: transparent linear-gradient(180deg, #EFD6B6 0%, #F2DEC4 34%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
}
.p-header{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: 2.1875rem;
    font-weight: 900;
    text-align: center;
    height: 8.125rem;
    @media(min-width: 1365px){
        margin-top: -.5rem;
    }
    
    &:before{
        background: #EFD7B8 0% 0% no-repeat padding-box;
        opacity: 0.3;
        height: 100%;
        width: 100%;
        content: " ";
        display: block;
        position: absolute;
        inset: 0 0 auto auto;
        z-index: -1;
    }
    
}
.cnt-visibility{
    content-visibility: auto;
    contain-intrinsic-size: 1px 5000px;
}
header{
    position: relative;
    z-index: 2;
    .first-row{
        background-color: #EFD7B8;
        max-height: 2rem;
        display: none;
        text-align:right;
        padding: 0 1rem;
        @media (min-width: 560px) {
            display: flex;
            flex-direction: row;      
            justify-content: end;      
        }
        >span{
            display: block;
            padding: 0 1rem;
            img{
                padding-right: .2rem;
                transform: translateY(.1rem);
                width: 1rem;
            }
        }
        a{
            text-decoration: none;
            color: #171715;
            font-size: 1.0625rem;
            font-weight: 500;
        }
        @media (min-width: 1366px){
            padding-left: 14.47916667vw;
            padding-right: 14.47916667vw;
        }
    }
    .second-row{
        @media (max-width: 1365px) {
            position: fixed;
            top: 0;left: 0;
        }
        padding: 0 1rem;
        background-color: #171715;
        background-color: #333;
        display: flex;
        width: 100%;
        a{
            color: #fff;
            text-decoration: none;
        }
        img{
            width: 13.8125rem;
            transform: translateY(1rem);
        }
        @media (min-width: 1366px){
            padding-left: 14.47916667vw;
            padding-right: 14.47916667vw;
        }
    }
    .below-row{
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
        }
        .main-menu{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            margin: 0;
            padding: 0;
            justify-content:  space-evenly;
            padding: 1rem 0;
            >li{
                position: relative;
                padding: 0 1.5rem 2rem 1rem;
                // padding-bottom: 2rem;
                margin-bottom: -2rem;
                &:hover{
                    @media (min-width: 1366px){
                        background-color: #333333;
                    }
                    
                }
                &.parent{
                    &:after{
                        content: " ";
                        display: block;
                        position: absolute;
                        width: .5rem;
                        height: .5rem;

                        inset: .65rem .2rem auto auto;
                        border-right: 1px solid #fff;
                        border-bottom: 1px solid #fff;
                        transform: rotate(-45deg);
                        transition: transform .3s ease;
                    }
                    &:hover{
                        &:after{
                            transform: rotate(45deg);
                        }
                    }
                }
               
            }
            li{
                @media (max-width: 1365px){
                    background-color: #333;
                }
                
                &.active{
                    color: #FFF644;
                   > a{
                        color: #FFF644;    

                    }
                }
                a{
                    font-size: 1.125rem;
                    text-decoration: none;
                    position: relative;
                    &:hover{
                        text-decoration: underline;
                        color: #ef7c00;
                    }
                }
                .sub-menu,.menu-categories{
                    width: max-content;
                }
                .sub-menu,.menu-categories,.category-info{
                    position: absolute;
                    display: none;
                    background-color: #ef7c00;
                }
                @media(min-width: 1366px){
                    &:hover{

                        .sub-menu,.menu-categories{
                            display: flex;
                            background-color: #ef7c00;
                            
                            flex-direction: column;
                            inset: 100% auto auto 0;
                            min-width: 100%;
                            padding-bottom: 1rem;
                            li{
                                padding-left: 1rem;
                                // padding-bottom: 1rem;
                                padding-top: 1rem;
                                padding-bottom: 1rem;
                                &:not(:last-child){
                                    a{
                                        padding-bottom: 1rem;
                                        border-bottom: 1px solid #fff;;
                                        
                                    }
                                }
                            }
                            >li{
                                width: 100%;
                                padding-right: 1rem;
                            
                            }
                        }
                        &.zast-parent{
                            .sub-menu{
                                flex-direction: row;
                                
                               >li
                               {
                                &:first-child{
                                    ul{
                                        border-right: 1px solid #fff;
                                    }
                                    
                                }
                               
                                &:nth-child(2){
                                    // padding-left: 2rem;
                                }
                                    >a{
                                        font-weight: bold;
                                        border-bottom: 0;
                                    }
                               }
                               
                            }
                            .menu-categories.sub-zastosowanie{
                                position:static;
                                li{
                                    padding-left: 0;
                                }
                                
                            }
                        }
                    }
                }
                .menu-categories{
                   > li{
                      
                       
                       @media(min-width: 1366px){
                            &:hover{
                                a{
                                    &:hover{
                                        color: black; 
                                        font-weight: 500;
                                    }
                                }
                                .category-info{
                                    padding: 1rem;
                                    display: flex;
                                    flex-direction: column;
                                    inset: 0 auto 0 100%;
                                    background-color: #171715;
                                    background-color: #ef7c00;
                                    color: #fff;
                                    height: 30.9375rem;
                                    min-width: 21.875rem;
                                    font-size: 1.3125rem;
                                    .category-info-header{
                                        font-weight: 900;
                                        font-size: 2.8125rem;
                                        line-height: 1;
                                        padding-bottom: 1rem;
                                    }
                                    .menu-cat-prod{
                                        padding-top: 2rem;
                                        padding-bottom: 2rem;
                                        background-color: #171715;
                                        display: flex;
                                        flex-direction: row;
                                        justify-content:flex-start;
                                        background-color: #ef7c00;
                                        gap: .5rem;
                                        li{
                                            width: 8.125rem;
                                            background-color: #fff;
                                            // height: 10.1875rem;
                                            img{
                                                width: 100%;
                                            }
                                            .product-title{
                                                font-size: 16px;
                                                color: #171715;
                                                
                                            }
                                        }
                                    }
                                }
                            }
                       }
                        
                    }
                }
            }
        }
        @media (max-width: 1365px) {
            
            #main-nav {
              
                justify-content: flex-start;
                width: 100vw;
                position: absolute;
                left: 0;
                top: 5.5rem;
                z-index: -1;
                text-align: center;
                background-color: #ef7c00;
                height: calc(100vh - 5.5rem);
                min-height: 30rem;
                overflow-y: auto;
                li{
                    background-color: #ef7c00;
                }
            }
            #main-nav{
                transform: translateX(110%);
                transition: transform .5s ease;
            }
            .menu-btn-cnt{
                width: 3.125rem;
                height: 3.125rem;
                border: 0;
                // border-radius: 50%;
                // border: 0.0625rem solid #1692D3;
                display: flex;
                background-color: transparent;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: flex-end;
                padding: .25rem 0 .4rem 0;
                // margin-right: 3rem;
                transition: background-color .3s ease;
                cursor: pointer;
                top: 0;
                position: absolute;
                right: 1rem;
                margin-right: 0;
                span{
                    
                    display: block;
                    margin-right: .7rem;
                    transition: transform .3s ease;
                    background-color: #fff;
                    box-shadow: 0.3125rem 0.625rem 0.625rem #00000029;
                    border-radius: 4rem;
                    height: 0.25rem;
                    transform-origin: center;
                    &:nth-child(1){
                        width: 1.875rem;
                    }
                    &:nth-child(2){
                        width: 1.875rem;
                    }
                    &:nth-child(3){
                        width: 1.875rem;
                    }
                }
                
            }
            &.active{
                .menu-btn-cnt{
                    span{
                        &:nth-child(2){
                            display: none;
                        }
                        &:nth-child(1){
                            transform: rotate(45deg) translate(.2rem,-0.2rem);
                        }
                        &:nth-child(3){
                            transform: rotate(135deg) translate(-.75rem,.5rem);
                        }
                    }
                }
                #main-nav{
                    transform: translateX(0);
                    flex-direction: column;
                    >li{
                       >a{
                            font-weight: 900;
                            font-size: 1.5rem;
                       } 
                       &.zast-parent{
                            .sub-menu{
                                >li>a{
                                    font-weight: 600;
                                }
                            }
                       }
                       
                       &.parent:after{
                           display: none;
                       }
                    }
                    .sub-menu,.menu-categories{
                        display: flex;
                        flex-direction: column;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        position: relative;
                        justify-content: center;
                        padding: 1rem 0;
                        width: 100%;
                        align-items: center;
                        >li{
                            padding: .5rem 0;
                        }
                    }
                }
            }
        }
        @media (max-width: 767px) {
            #main-nav {
                flex-wrap: nowrap;
                height: 100%;
            }
        }
        @media (min-width: 1366px){
            width: 80%;
            padding: 1rem 0;
            .menu-btn-cnt{
                display: none;
            }
        }

     
    }
}
footer{
    .first-row{
        background: rgba(238, 211, 179, 0.19);
        padding: 2rem 1rem 2rem 1rem;
        .first-row-header{
            padding-bottom: 1rem;
            
            border-bottom: 2px solid #171715;
        }
        .col-header{
            font-size: 21px;
            font-weight: 800;
        }
        .col-wrapper{
            display: grid;
            grid-template-columns: 1fr;
        }
        .footer-left,.footer-right{
            ul{
                list-style: none;
                display: flex;
                flex-direction: column;
                padding: 0;
                margin: 0;
                li{
                    padding-bottom: .5rem;
                    a{
                       display: flex;
                       flex-direction: row;
                        font-size: 18px;
                        font-weight: 500;
                        text-decoration: none;
                        color: #171715;
                        text-transform: uppercase;
                        img{
                            width: 100%;
                            height: 100%;
                            display: block;
                        }
                        .icon-title{
                            line-height: 3.5;
                            padding-left: 1rem;
                            will-change: transform;
                            transition: transform .3s ease;
                        }
                        .icon-wrapper{
                            width: 3.9375rem;
                            height: 3.9375rem;
                            border-radius: 50%;
                            will-change: background-color ;
                            transition: background-color .3s ease;
                        }
                        &:hover{
                            .icon-wrapper{
                                background-color: #FFF644;
                            }
                            .icon-title{
                                transform: translateX(.5rem)
                            }
                        }
                    }
                }
            }
        }
        @media (min-width: 992px){
         
            .col-wrapper{
          
                grid-template-columns: 1fr 1fr;
            }
        }
        @media (min-width: 1366px){
            padding-left: (278/1920)*100vw;
            padding-right: (278/1920)*100vw;
          
          
        }
        @media (min-width: 1600px){
            
            .first-row-header{
                
                padding-left: ((432-278)/1920)* 100vw;
                
            }
            .footer-left{
                padding-left: ((432-278)/1920)* 100vw;
            }
          
        }
    }
    .second-row{
        background-color: #171715;
        background-color: #333;
        color: #fff;
        display: grid;
        grid-template-columns: 1fr;
        padding: 3rem 1rem 2rem 1rem;
        a{
            color: #fff;
            text-decoration: none;
        }
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            li{
                padding-bottom: 0.25rem;
                &:not(:last-child){
                    border-bottom: 1px solid #fff;
                }
                
                max-width: 256px;
                a{
                    font-size: 1.0625rem;
                }
                span{
                    color: #FFF644;
                    
                }
            }
        }
        >div:first-child{
            img{
                max-width: 9.625rem;
            }
        }
        >div{
            display: flex;
            flex-direction: column;
            .footer-header{
                padding-bottom: 1.5rem;
            }
        }
        >div:last-child{
            li{
                border:0;
                padding-bottom: 1.5rem;
                span{
                    font-weight: 500;
                }
                p{
                    margin: 0;
                }
            }
        }
        @media (min-width: 768px){
            grid-template-columns: 1fr 1fr;
        }
        @media (min-width: 1200px){
            grid-template-columns: 1fr 1fr 1fr 1fr;
         
        }
        @media (min-width: 1366px){
            padding-left: 14.47916667vw;
            padding-right: 14.47916667vw;
        }
    }
}
@import 'templates/banner';
@import 'templates/over-banner';
@import 'templates/category-tiles';
@import 'templates/col-txt-img';
@import 'templates/quality';
@import 'templates/last-news';
@import 'templates/usage';
@import 'templates/suggested';
@import 'templates/single-product';
@import 'templates/faq';
@import 'templates/kontakt';
@import 'templates/news';
@import 'templates/produkt_listing';
