html{
    font-size:100%;
    overflow-x: hidden;
    width: 100%;
    @media (min-width: 2560px){
        font-size:115%;
    }
}
body{
    margin: 0;
    
    color: #171715;;
    width: 100%;
    font-family: "Darker Grotesque", sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    --main-margin-left:  1rem;
    --main-margin-right: 1rem;
    overflow-x: hidden;
    @media (min-width: 1200px) {
        --main-margin-left: 2rem;
        --main-margin-right: 2rem;
    }
    @media (min-width: 1600px) {
        --main-margin-left: 5vw;
        --main-margin-right: 5vw;
    }
    @media (min-width: 1920px) {
        --main-margin-left:  calc((354 / 1920) * 100vw);
        --main-margin-right: calc((344 / 1920) * 100vw);
    }

}
*{
    box-sizing: border-box;
}
// h1,h2,h3,h4,.h1,.h2,.h3,.h4,.header-template{
//     font-family: 'Space Grotesk', sans-serif;
// }
// description: 'XXL: 54px;<br>XL: 45px;<br>L: 22px;<br>MD: 16px

.txt-XXL{
    font-size: 3.8125rem;
    
}
.txt-XL{
    font-size: 2.8125rem;
}
.txt-L{
    font-size: 2.1875rem;
}
.txt-MD{
    font-size: 1.3125rem;
}
.txt-R{
    font-size: 1.125rem;
}
.txt-S{
    font-size: 0.9375rem;
}
.f-w500{
    font-weight: 500;
}
.f-w400{
    font-weight: 400;
}
.f-w800{
    font-weight: 800;
    @media (max-width: 450px){
        font-size: 2.5rem;
    }
}
.f-w900{
    font-weight: 900;
}
.txt-break{
    display: block;
    @media (max-width: 450px){
        font-size: 2.5rem;
    }
}
.txt-white{
    color: #fff;
}
.bez-gradient{
    background: transparent linear-gradient(180deg, #EFD6B6 0%, #F2DEC4 34%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
}
.cnt-visibility{
    content-visibility: auto;
    contain-intrinsic-size: 1px 5000px;
}
header{
    position: relative;
    z-index: 1;
    .first-row{
        background-color: #EFD7B8;
        max-height: 2rem;
        display: none;
        text-align:right;
        padding: 0 1rem;
        @media (min-width: 560px) {
            display: flex;
            flex-direction: row;      
            justify-content: end;      
        }
        >span{
            display: block;
            padding: 0 1rem;
            img{
                padding-right: .2rem;
                transform: translateY(.1rem);
                width: 1rem;
            }
        }
        a{
            text-decoration: none;
            color: #171715;
            font-size: 1.0625rem;
            font-weight: 500;
        }
        @media (min-width: 1366px){
            padding-left: 14.47916667vw;
            padding-right: 14.47916667vw;
        }
    }
    .second-row{
        padding: 0 1rem;
        background-color: #171715;
        a{
            color: #fff;
            text-decoration: none;
        }
        img{
            width: 13.8125rem;
            transform: translateY(1rem);
        }
        @media (min-width: 1366px){
            padding-left: 14.47916667vw;
            padding-right: 14.47916667vw;
        }
    }
}
footer{
    .first-row{
        background: rgba(238, 211, 179, 0.19);
        padding: 2rem 1rem 2rem 1rem;
        .first-row-header{
            padding-bottom: 1rem;
            
            border-bottom: 2px solid #171715;
        }
        .col-header{
            font-size: 21px;
            font-weight: 800;
        }
        .col-wrapper{
            display: grid;
            grid-template-columns: 1fr;
        }
        .footer-left,.footer-right{
            ul{
                list-style: none;
                display: flex;
                flex-direction: column;
                padding: 0;
                margin: 0;
                li{
                    padding-bottom: .5rem;
                    a{
                       display: flex;
                       flex-direction: row;
                        font-size: 18px;
                        font-weight: 500;
                        text-decoration: none;
                        color: #171715;
                        text-transform: uppercase;
                        img{
                            width: 100%;
                            height: 100%;
                            display: block;
                        }
                        .icon-title{
                            line-height: 3.5;
                            padding-left: 1rem;
                            will-change: transform;
                            transition: transform .3s ease;
                        }
                        .icon-wrapper{
                            width: 3.9375rem;
                            height: 3.9375rem;
                            border-radius: 50%;
                            will-change: background-color ;
                            transition: background-color .3s ease;
                        }
                        &:hover{
                            .icon-wrapper{
                                background-color: #FFF644;
                            }
                            .icon-title{
                                transform: translateX(.5rem)
                            }
                        }
                    }
                }
            }
        }
        @media (min-width: 992px){
         
            .col-wrapper{
          
                grid-template-columns: 1fr 1fr;
            }
        }
        @media (min-width: 1366px){
            padding-left: (278/1920)*100vw;
            padding-right: (278/1920)*100vw;
          
          
        }
        @media (min-width: 1600px){
            
            .first-row-header{
                
                padding-left: ((432-278)/1920)* 100vw;
                
            }
            .footer-left{
                padding-left: ((432-278)/1920)* 100vw;
            }
          
        }
    }
    .second-row{
        background-color: #171715;
        color: #fff;
        display: grid;
        grid-template-columns: 1fr;
        padding: 3rem 1rem 2rem 1rem;
        a{
            color: #fff;
            text-decoration: none;
        }
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            li{
                padding-bottom: 0.25rem;
                &:not(:last-child){
                    border-bottom: 1px solid #fff;
                }
                
                max-width: 256px;
                a{
                    font-size: 1.0625rem;
                }
                span{
                    color: #FFF644;
                    
                }
            }
        }
        >div:first-child{
            img{
                max-width: 9.625rem;
            }
        }
        >div{
            display: flex;
            flex-direction: column;
            .footer-header{
                padding-bottom: 1.5rem;
            }
        }
        >div:last-child{
            li{
                border:0;
                padding-bottom: 1.5rem;
                span{
                    font-weight: 500;
                }
                p{
                    margin: 0;
                }
            }
        }
        @media (min-width: 768px){
            grid-template-columns: 1fr 1fr;
        }
        @media (min-width: 1200px){
            grid-template-columns: 1fr 1fr 1fr 1fr;
         
        }
        @media (min-width: 1366px){
            padding-left: 14.47916667vw;
            padding-right: 14.47916667vw;
        }
    }
}
@import 'templates/banner';
@import 'templates/over-banner';
@import 'templates/category-tiles';
@import 'templates/col-txt-img';
@import 'templates/quality';
@import 'templates/last-news';
@import 'templates/usage';
@import 'templates/suggested';
@import 'templates/single-product';
@import 'templates/faq';
@import 'templates/kontakt';
@import 'templates/news';
@import 'templates/produkt_listing';
