
<ul>
   
    
    {{ range $key, $value := .Site.Taxonomies.categories }}
    <li class="kategoria  first " id="kategoria_1"><a href="/kategoria/{{$key}}">{{$key}}</a> 
        baba
        </li>
        {{ $categorieslist := site.Data.categories }}
            {{ range $categorieslist.categories }}
            
            {{if eq $key .slug}}
            <li class="kategoria  first " id="kategoria_1"><a href="/kategoria/{{.slug}}">{{.kategoria}}</a> 
        ada
        </li>
            {{end}}
            {{end}}
 
    
    {{ end }}

</ul>



